/* Google Fonts EERST */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@300;400;600;700;900&display=swap');
/* Dan Tailwind */
@import "tailwindcss";

/* Dan custom theme */
@theme {
  --font-display: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
}